# ntcharts - Copyright (c) 2026 Neomantra Corp.

name: Build Go

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '>=1.23'

    - name: Install Task
      uses: go-task/setup-task@v1

    - name: Build the project
      run: task build
